/*background*/

body{
    background-color: #aab;
    margin: 22px;
}

#background{
    background-image: url('new_day.jpg');
    background-repeat: no-repeat;
    width: 540px;
    height: 300px;
}

/*general/other*/

input{
    height: 99px;
    width: 99px;
    padding-top: 77px;
    font-family: fantasy, Garamond, serif;
    font-size: 13px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 11px;
    
}

input:hover, input:focus{
    position: relative;
    left: -4px;
    top: -4px;
    -moz-box-shadow: 7px 7px 11px #445;
    -webkit-box-shadow: 7px 7px 11px #445;
    box-shadow: 7px 7px 11px #445;
}

p{
    font-family: Garamond, serif;
    font-size: 0.9em;
}

#footer{
    position: relative;
    top: 121px;
}

/*player choices*/

h1{
    font-family: Tahoma, sans-serif;
    font-size: 44px;
}

#kitty{
    background-image: url('kitty.gif');
}

#hairball{
    background-image: url('hairball_flower.png');
}

#piggy{
    background-image: url('piggy.gif');
}

#orb{
    background-image: url('focusing_orb.gif');
    background-size: 80px 84px;                
}

#bureaucroc{
    background-image: url('bureaucroc.gif');
    background-size: 80px 72px;
}

/*game outcome*/

#box{
    height: 111px;
    width: 242px;
    padding-top: 22px;
    font-size: 33px
}

.flip{
    display: inline-block;
    -webkit-transform: scale(-1,1);
    transform: scale(-1,1);
}

h2{
    font-family: Garamond, serif;
    font-size: 22px;
}

/*play again button*/

#again{
    background-image: url('cubimal_hellbartender.gif');
    height: 88px;
    width: 88px;
    padding-top: 0;
    padding-bottom: 42px;
}

/*counter*/

#counter div{
    background-color: #ccd;
    border-radius: 3px;
    display: inline-block;
    padding: 11px;
    margin-left: 33px;
    margin-top: 33px;
}

#reset:hover, #reset:focus{
    background-color: #99a;
}