/*background*/

body{
    background-color: #aaaabb;
    margin: 25px;
}

#background{
    background-image: url('https://cloud.githubusercontent.com/assets/8074915/3530408/3ef46724-07a4-11e4-8e05-6693ab0d0773.jpg');
    background-repeat: no-repeat;
    width: 540px;
    height: 300px;
}

/*player choices*/

h1{
    font-family: Tahoma, sans-serif;
    font-size: 3em;
}

input{
    height: 100px;
    width: 100px;
    padding-top: 76px;
    font-family: fantasy, Garamond, serif;
    font-size: 14px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
}

#kitty{
    background-image: url('https://cloud.githubusercontent.com/assets/8074915/3530419/3f159a02-07a4-11e4-95ba-5d58af7c4be6.gif');
}

#hairball{
    background-image: url('https://cloud.githubusercontent.com/assets/8074915/3530409/3ef6d9fa-07a4-11e4-8c22-5b01b0ef0e17.png');
}

#piggy{
    background-image: url('https://cloud.githubusercontent.com/assets/8074915/3530420/3f1765a8-07a4-11e4-86f6-cd18b35b090f.gif');
}

#orb{
    background-image: url('https://cloud.githubusercontent.com/assets/8074915/3530417/3f0f4698-07a4-11e4-89f3-eb6091171e05.gif');
    background-size: 80px 84px;                
}

#bureaucroc{
    background-image: url('https://cloud.githubusercontent.com/assets/8074915/3530418/3f127fac-07a4-11e4-9c09-5f18a5cda268.gif');
    background-size: 80px 72px;
}

/*game outcome*/

#box{
    height: 100px;
    width: 250px;
    padding-top: 20px;
    background-color: white;
    font-size: 36px
}

.flip{
    display: inline-block;
    -webkit-transform: scale(-1,1);
    transform: scale(-1,1);
}

h2{
    font-family: Garamond, serif;
    font-size: 1.25em;
}

/*play again button*/

#again{
    background-image: url('https://cloud.githubusercontent.com/assets/8074915/3530416/3f0b4f20-07a4-11e4-8a0a-4d23a961be9e.gif');
    height: 80px;
    width: 80px;
    padding-top: 0;
    padding-bottom: 42px;
}

/*other*/

p{
    font-family: Garamond, serif;
    font-size: 0.9em;
}

#footer{
    position: relative;
    top: 100px;
}
